// Your custom styles

.s4uPal-Primary {
    color: #256F5B
  }
  
  .s4uPal-Primary-a {
    color: #DBDBDB
  }
  
  .s4uPal-Primary-b {
    color: #689C8D
  }
  
  .s4uPal-Primary-c {
    color: #004330
  }
  
  .s4uPal-Primary-d {
    color: #001710
  }
  
  .s4uPal-Secondary {
    color: #408E2f
  }
  
  .s4uPal-Secondary-a {
    color: #EEEEEE
  }
  
  .s4uPal-Secondary-b {
    color: #90C784
  }
  
  .s4uPal-Secondary-c {
    color: #0F5500
  }
  
  .s4uPal-Secondary-d {
    color: #051D00
  }
  
  .s4uPal-Tertiary {
    color: #2A4F6E
  }
  
  .s4uPal-Tertiary-a {
    color: #DADADA
  }
  
  .s4uPal-Tertiary-b {
    color: #6A8499
  }
  
  .s4uPal-Tertiary-c {
    color: #042642
  }
  
  .s4uPal-Tertiary-d {
    color: #000C16
  }