/* Import Dependencies */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

/* Fonts */
$primary-font-family: 'Baloo Tammudu 2', cursive;

/* Colors */
$white: #fff;
$primary: #ffcB47;
$secondary: #ff9A47;
$shale: #fff5db;
$text-primary: #8aa1b1;
$text-secondary: #9ac2c9;
$light-grey: #e7e7e7;
$info: #e7e7e7;
$dark: #272727;

